src/META-INF/wsdl/localhost_8084/caregiverws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="caregiverws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8084/caregiverws?xsd=1" />
</xsd:schema>
</types>
<message name="getType">
<part name="parameters" element="tns:getType" />
</message>
<message name="getTypeResponse">
<part name="parameters" element="tns:getTypeResponse" />
</message>
<message name="getElderlyInfo">
<part name="parameters" element="tns:getElderlyInfo" />
</message>
<message name="getElderlyInfoResponse">
<part name="parameters" element="tns:getElderlyInfoResponse" />
</message>
<message name="getElderlysInfo">
<part name="parameters" element="tns:getElderlysInfo" />
</message>
<message name="getElderlysInfoResponse">
<part name="parameters" element="tns:getElderlysInfoResponse" />
</message>
<message name="getPersonInfo">
<part name="parameters" element="tns:getPersonInfo" />
</message>
<message name="getPersonInfoResponse">
<part name="parameters" element="tns:getPersonInfoResponse" />
</message>
<message name="deleteMonitor">
<part name="parameters" element="tns:deleteMonitor" />
</message>
<message name="deleteMonitorResponse">
<part name="parameters" element="tns:deleteMonitorResponse" />
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson" />
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse" />
</message>
<message name="getElderlyDoctorAppointments">
<part name="parameters" element="tns:getElderlyDoctorAppointments" />
</message>
<message name="getElderlyDoctorAppointmentsResponse">
<part name="parameters" element="tns:getElderlyDoctorAppointmentsResponse" />
</message>
<message name="addOrUpdateMonitor">
<part name="parameters" element="tns:addOrUpdateMonitor" />
</message>
<message name="addOrUpdateMonitorResponse">
<part name="parameters" element="tns:addOrUpdateMonitorResponse" />
</message>
<message name="getElderlyCaregivers">
<part name="parameters" element="tns:getElderlyCaregivers" />
</message>
<message name="getElderlyCaregiversResponse">
<part name="parameters" element="tns:getElderlyCaregiversResponse" />
</message>
<message name="getElderlyHealthMonitors">
<part name="parameters" element="tns:getElderlyHealthMonitors" />
</message>
<message name="getElderlyHealthMonitorsResponse">
<part name="parameters" element="tns:getElderlyHealthMonitorsResponse" />
</message>
<message name="getElderlyMedicationMonitors">
<part name="parameters" element="tns:getElderlyMedicationMonitors" />
</message>
<message name="getElderlyMedicationMonitorsResponse">
<part name="parameters" element="tns:getElderlyMedicationMonitorsResponse" />
</message>
<message name="getElderlyFamilyMembers">
<part name="parameters" element="tns:getElderlyFamilyMembers" />
</message>
<message name="getElderlyFamilyMembersResponse">
<part name="parameters" element="tns:getElderlyFamilyMembersResponse" />
</message>
<message name="addOrUpdatePerson">
<part name="parameters" element="tns:addOrUpdatePerson" />
</message>
<message name="addOrUpdatePersonResponse">
<part name="parameters" element="tns:addOrUpdatePersonResponse" />
</message>
<portType name="caregiverws">
<operation name="getType">
<input wsam:Action="http://ws/caregiverws/getTypeRequest" message="tns:getType" />
<output wsam:Action="http://ws/caregiverws/getTypeResponse" message="tns:getTypeResponse" />
</operation>
<operation name="getElderlyInfo">
<input wsam:Action="http://ws/caregiverws/getElderlyInfoRequest" message="tns:getElderlyInfo" />
<output wsam:Action="http://ws/caregiverws/getElderlyInfoResponse" message="tns:getElderlyInfoResponse" />
</operation>
<operation name="getElderlysInfo">
<input wsam:Action="http://ws/caregiverws/getElderlysInfoRequest" message="tns:getElderlysInfo" />
<output wsam:Action="http://ws/caregiverws/getElderlysInfoResponse" message="tns:getElderlysInfoResponse" />
</operation>
<operation name="getPersonInfo">
<input wsam:Action="http://ws/caregiverws/getPersonInfoRequest" message="tns:getPersonInfo" />
<output wsam:Action="http://ws/caregiverws/getPersonInfoResponse" message="tns:getPersonInfoResponse" />
</operation>
<operation name="deleteMonitor">
<input wsam:Action="http://ws/caregiverws/deleteMonitorRequest" message="tns:deleteMonitor" />
<output wsam:Action="http://ws/caregiverws/deleteMonitorResponse" message="tns:deleteMonitorResponse" />
</operation>
<operation name="deletePerson">
<input wsam:Action="http://ws/caregiverws/deletePersonRequest" message="tns:deletePerson" />
<output wsam:Action="http://ws/caregiverws/deletePersonResponse" message="tns:deletePersonResponse" />
</operation>
<operation name="getElderlyDoctorAppointments">
<input wsam:Action="http://ws/caregiverws/getElderlyDoctorAppointmentsRequest" message="tns:getElderlyDoctorAppointments" />
<output wsam:Action="http://ws/caregiverws/getElderlyDoctorAppointmentsResponse" message="tns:getElderlyDoctorAppointmentsResponse" />
</operation>
<operation name="addOrUpdateMonitor">
<input wsam:Action="http://ws/caregiverws/addOrUpdateMonitorRequest" message="tns:addOrUpdateMonitor" />
<output wsam:Action="http://ws/caregiverws/addOrUpdateMonitorResponse" message="tns:addOrUpdateMonitorResponse" />
</operation>
<operation name="getElderlyCaregivers">
<input wsam:Action="http://ws/caregiverws/getElderlyCaregiversRequest" message="tns:getElderlyCaregivers" />
<output wsam:Action="http://ws/caregiverws/getElderlyCaregiversResponse" message="tns:getElderlyCaregiversResponse" />
</operation>
<operation name="getElderlyHealthMonitors">
<input wsam:Action="http://ws/caregiverws/getElderlyHealthMonitorsRequest" message="tns:getElderlyHealthMonitors" />
<output wsam:Action="http://ws/caregiverws/getElderlyHealthMonitorsResponse" message="tns:getElderlyHealthMonitorsResponse" />
</operation>
<operation name="getElderlyMedicationMonitors">
<input wsam:Action="http://ws/caregiverws/getElderlyMedicationMonitorsRequest" message="tns:getElderlyMedicationMonitors" />
<output wsam:Action="http://ws/caregiverws/getElderlyMedicationMonitorsResponse" message="tns:getElderlyMedicationMonitorsResponse" />
</operation>
<operation name="getElderlyFamilyMembers">
<input wsam:Action="http://ws/caregiverws/getElderlyFamilyMembersRequest" message="tns:getElderlyFamilyMembers" />
<output wsam:Action="http://ws/caregiverws/getElderlyFamilyMembersResponse" message="tns:getElderlyFamilyMembersResponse" />
</operation>
<operation name="addOrUpdatePerson">
<input wsam:Action="http://ws/caregiverws/addOrUpdatePersonRequest" message="tns:addOrUpdatePerson" />
<output wsam:Action="http://ws/caregiverws/addOrUpdatePersonResponse" message="tns:addOrUpdatePersonResponse" />
</operation>
</portType>
<binding name="caregiverwsPortBinding" type="tns:caregiverws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getElderlyInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getElderlysInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPersonInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteMonitor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getElderlyDoctorAppointments">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addOrUpdateMonitor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getElderlyCaregivers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getElderlyHealthMonitors">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getElderlyMedicationMonitors">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getElderlyFamilyMembers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addOrUpdatePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="caregiverws">
<port name="caregiverwsPort" binding="tns:caregiverwsPortBinding">
<soap:address location="http://localhost:8084/caregiverws" />
</port>
</service>
</definitions>